@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .scrollbar::-webkit-scrollbar {
        @apply hidden;
    }
    .scrollbar::-webkit-scrollbar-track {
        @apply rounded-[8px] bg-white shadow-[inset_0_0_2px_#D1FAE5];
    }
    .scrollbar::-webkit-scrollbar-thumb {
        @apply rounded-[8px] bg-gray-400 outline-none;
    }
    .scrollbar {
        @apply [scrollbarWidth:none] [-ms-overflow-style:none];
    }
}

.primary-button,
.primary-button *,
.primary-button :after,
.primary-button :before,
.primary-button:after,
.primary-button:before {
    border: 0 solid;
    box-sizing: border-box;
}
.primary-button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    font-family: var(--font-fira-sans) sans-serif !important;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}
.primary-button:disabled {
    cursor: default;
}
.primary-button:-moz-focusring {
    outline: auto;
}
.primary-button svg {
    vertical-align: middle;
}
.primary-button [hidden] {
    display: none;
}
.primary-button {
    --thickness: 0.3rem;
    --roundness: 0.25rem;
    --color: #eff6ff;
    --opacity: 0.6;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: none;
    background: linear-gradient(270deg, rgba(239, 68, 68, 70%) 0%, rgba(239, 68, 68, 1) 100%);
    border: none;
    border-radius: var(--roundness);
    color: var(--color);
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 3.05rem;
    position: relative;
}
.primary-button:hover {
    background: linear-gradient(270deg, rgba(239, 68, 68, 70%) 0%, rgba(239, 68, 68, 1) 100%);
    filter: brightness(1.2);
}
.primary-button:active {
    --opacity: 0;
    background: linear-gradient(270deg, rgba(239, 68, 68, 70%) 0%, rgba(239, 68, 68, 1) 100%);
}
.primary-button svg {
    border-radius: var(--roundness);
    display: block;
    filter: url(#glow);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.primary-button rect {
    fill: none;
    stroke: var(--color);
    stroke-width: var(--thickness);
    rx: var(--roundness);
    stroke-linejoin: round;
    stroke-dasharray: 185%;
    stroke-dashoffset: 80;
    -webkit-animation: snake 2s linear infinite;
    animation: snake 2s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s;
    width: 100%;
}
.primary-button:hover rect {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    opacity: var(--opacity);
}
@-webkit-keyframes snake {
    to {
        stroke-dashoffset: 370%;
    }
}
@keyframes snake {
    to {
        stroke-dashoffset: 370%;
    }
}
